<div class="wrapper">
<div class="article-section">
<p class="article-title">
  <%= @article.title %>
</p>
 
<p class="article-text">
  <%= @article.text %>
</p>
<hr>

<p>Posted by: <%= link_to @article.username, profile_path(@article.username) %> at <%= @article.created_at.strftime("%b %d, %Y") %>
</p>
<%= link_to 'Edit', edit_article_path(@article), class: "btn btn-default" %>
</div>
</br>

<div class="comment-section">
<p style="font-size: 20px">Comments</p>
<%= render @article.comments %>
</div>
</br>
 
<div class="add-comment">
<p style="font-size: 20px">Add a comment:</p>
<%= render 'comments/form' %>
</div>
</br>

<%= link_to 'Back', articles_path, class: "btn btn-default" %>
</div>